absl-py==1.0.0
alabaster==0.7.12
alembic==1.12.1
anaconda-client==1.7.2
anaconda-navigator==1.9.7
asn1crypto==1.0.1
asteval==0.9.31
astroid==2.3.1
astunparse==1.6.3
attrs==19.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bleach==3.1.0
cachetools==5.0.0
cairocffi==1.6.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
colorlog==6.8.0
colour==0.1.5
commonmark==0.9.1
conda==22.9.0
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
cryptography==2.7
cvxopt==1.2.0
cvxpy==1.2.0
cycler==0.11.0
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
eccodes==2.41.0
ecos==2.0.10
entrypoints==0.3
filelock==3.0.12
findlibs==0.1.0
flatbuffers==2.0
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
future==0.17.1
gast==0.5.3
GDAL==2.3.3
glob2==0.7
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.44.0
h5py==3.8.0
idna==2.8
imagesize==1.1.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==5.1.2
ipython==7.8.0
ipython_genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
joblib==1.3.2
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.3
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.1.4
jupyterlab-server==1.0.6
jupyterthemes==0.20.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.4.5
lazy-object-proxy==1.4.2
lesscpy==0.15.0
libarchive-c==2.8
libclang==13.0.0
llvmlite==0.39.1
lmfit==1.2.2
Mako==1.2.4
manimce==0.1.1.post2
Markdown==3.3.6
markdown-it-py==2.2.0
MarkupSafe==1.1.1
matplotlib==3.5.3
mccabe==0.6.1
mdurl==0.1.2
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numba==0.56.4
numpy==1.21.6
numpydoc==0.9.1
oauthlib==3.2.0
olefile==0.46
opt-einsum==3.3.0
optuna==3.5.0
osqp==0.6.3
packaging==23.2
pandas==1.3.5
pandocfilters==1.4.2
pangocairocffi==0.4.0
pangocffi==0.8.0
parso==0.5.1
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
prettytable==2.0.0
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.19.4
psutil==5.6.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.23.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pydub==0.25.1
pyflakes==2.1.1
Pygments==2.16.1
pylint==2.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyproj==3.2.1
pyproject-toml==0.0.10
PyQt5==5.12.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.12.1
pyrsistent==0.15.4
pyshp==2.3.1
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2019.3
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qdldl==0.1.7.post0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
requests==2.22.0
requests-oauthlib==1.3.1
rich==13.7.0
rope==0.14.0
rsa==4.8
ruamel_yaml==0.15.46
scikit-learn==1.0.2
scipy==1.7.3
scs==2.1.4
seaborn==0.12.2
Send2Trash==1.5.0
shapely==2.0.7
six==1.12.0
snowballstemmer==2.0.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==2.0.25
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.10.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchinfo==1.8.0
torchvision==0.12.0+cu113
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.3
typing_extensions==4.7.1
uncertainties==3.1.7
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xarray==0.17.0
zipp==3.15.0
